.CulturePage {
	color: white; /* Set font color to white */
	text-align: center;
	background-color: #485988;
}

.sectionDiv {
	overflow: hidden;
	background-color: #132450;
	padding: 10px;
	margin-top: 10px;
}
  
.content {
	float: left; 
	width: 60%; 
}
.content p {
	font-size: 25px; 
}
.image-container {
	float: right; 
	width: 40%; 
}