/* Navbar.css */
.navbar {
	display: flex;
	align-items: center;
	background-color: #051234;
	padding: 10px 20px;
}
  
  .logo img {
	max-width: 100px; 
  }
  
  .nav-links {
	list-style: none;
	display: flex;
	font-size: 30px;
  }
  
  .nav-links li {
	margin-right: 20px;
  }
  
  .nav-links li:last-child {
	margin-right: 0;
  }
  
  .nav-links li a {
	color: white; 
	text-decoration: none;
  }
  
  .nav-links li a:hover {
	text-decoration: underline;
  }
  